<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find pocketsphinx)/demo/cusomize_voice_cmd.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/cusomize_voice_cmd.dic"/>
  </node>

  <node name="voice_cmd_vel" pkg="pocketsphinx" type="cusomize_voice_cmd.py" output="screen">
    <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
  </node>

</launch>
